html, body {
  background: url("../images/truebg.png");
  background-size: 100%;
  font-family: 'Poppins', sans-serif;
  color: #FFFFFF;
}

.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
}

.container {
  max-width: 1410px;
  padding: 0 15px;
  margin: 0 auto;
  height: 100%;
}

.header {
  margin-top: 51px;
}

.header__top-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__top-logo {
  display: flex;
  align-items: center;
  transition: .3s;
}

.header__top-logo:hover {
  transform: scale(1.05);
  color: #cdc7f7;
}

.header__top-logo:hover .header__logo-img {
  transform: rotate(360deg)
}

.header__logo-img {
  margin-right: 12px;
  transition: .6s;
}

.header__logo-img:hover {
  transform: rotate(360deg);
}

.header__top-logo-name {
  font-weight: 600;
  font-size: 36px;
  line-height: 54px;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.header__nav-inner {
  display: flex;
  align-items: center;
}

.header__top-nav {
  display: flex;
  align-items: center;

}

.header__nav-item {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  margin-right: 40px;
  transition: .2s;
}

.header__nav-item:hover {
  transform: scale(1.05);
  color: #00bfff;
}

.header__nav-item:last-child {
  margin-right: 0;
}

.header__top-btn {
  margin-left: 60px;
}

.button {
  background: #2F80ED;
  border-radius: 60px;
  padding: 15px 25px;
  gap: 10px;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #FFFFFF;
  transition: .3s;
}

.button:hover {
  transform: scale(1.05);
  background: #6654F1;
}

.header__img-inner {
  position: relative;
}

.countdown {
  background: linear-gradient(155.14deg, rgba(255, 255, 255, 0) -2.13%, rgba(255, 255, 255, 0.15) 136.58%);
  filter: drop-shadow(0px 4.28214px 52.4562px rgba(0, 7, 72, 0.12));
  backdrop-filter: blur(26.7634px);
  border-radius: 20px;
  transform: matrix(0.98, 0, -0.2, 1, 0, 0);
  padding: 21.4107px;
  gap: 21.41px;
  width: 385.83px;
  height: 106.36px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 1.5px;
  position: absolute;
  top: 740px;
  left: 255px;
}

.countdown-number {
  display: flex;
  flex-direction: column;
}

.countdown-time {
  font-weight: 600;
  font-size: 34.2571px;
  line-height: 42px;
  transform: matrix(0.98, 0, -0.2, 1, 0, 0);
}

.countdown-text {
  font-weight: 500;
  font-size: 14.9875px;
  line-height: 18px;
  transform: matrix(0.98, 0, -0.2, 1, 0, 0);
}

.countdown-dots {
  font-weight: 600;
  font-size: 25.6928px;
  line-height: 32px;
  transform: matrix(0.98, 0, -0.19, 1, 0, 0);
  margin: 0 10px;
}

.header__body {}

.header__body-inner {
  display: flex;
  margin-bottom: 170px;
}

.header__body-main {}

.header__main-title {
  font-weight: 500;
  font-size: 87px;
  line-height: 78px;
  letter-spacing: 0.025em;
  text-transform: capitalize;
  margin-top: 170px;
  margin-bottom: 53px;
}

.header__main-title span {
  background: linear-gradient(to right, #69EACB, #EACCF8, #6654F1);
  color: transparent;
  -webkit-background-clip: text;

}

.header__main-desc {
  max-width: 490px;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-transform: capitalize;
  margin-bottom: 67px;
}

.header__main-buttons {
  margin-bottom: 67px;
}

.header__main-btn {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  padding: 15px 55px;
  gap: 10px;
  margin-right: 26px;
}

.button2 {
  background: transparent;
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 24px;
  outline: transparent;
  padding: 15px 55px;
  border-radius: 60px;
  transition: all .3s;
}

.button2:hover {
  transform: scale(1.05);
  background: #6654F1;
}

.header__main-points {
  display: flex;
  align-items: center;
}

.header__main-point {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 42px;
}

.header__main-point:last-child {
  margin-right: 0;
}

.header__point-val {
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
}

.header__point-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

.header__body-img {
  margin-top: 100px;
  margin-left: 40px;
}

.companies {
  margin-bottom: 388px;
}

.companies__inner {}

.companies__first-stroke {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 51px;
}

.companies__item {
  margin-right: 120px;
}

.companies__item:last-child {
  margin-right: 0;
}

.companies__second__stroke {
  display: flex;
  justify-content: center;
}

.slider {
  margin-bottom: 260px;
}

.slider__inner {
  display: flex;
  flex-direction: column;
  max-width: 2500px;
  margin: 0 auto;
}

.slider__title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  font-weight: 600;
  font-size: 55px;
  line-height: 68px;
  background: linear-gradient(90deg, #69EACB 0%, #EACCF8 48%, #6654F1 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  margin-bottom: 59px;
}

.slider__slides {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 0;
  min-height: 0;
  position: relative;
}

.slick-track {}

.slick-center {}

.slider__slide-inner {
  padding: 15px;
  text-align: center;
}

.slider__slide {
  background: linear-gradient(90deg, #2f1667 0%, #301667 48%, #306 100%);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  position: relative;
  transition: .3s;
}

.slick-slide {
  opacity: 0.6;
  filter: blur(10px);
}

.slick-active {
  opacity: 1;
  filter: blur(0px);
}

.slider__slide::before {
  content: "";
  position: absolute;
  top: -2px;
  bottom: -1.5px;
  left: -1.5px;
  right: -2px;
  background: gray;
  border-radius: 20px;
  z-index: -1;
  transition: .3s;
}

.slider__slide:hover::before {
  background: linear-gradient(90deg, #69EACB 0%, #EACCF8 48%, #6654F1 100%);
}

.slider__slide:hover .slide__maker-val {
  color: #6A58F1;
}

.slide__nft {
  overflow: hidden;
  border-radius: 15px;
}

.slide__img {
  width: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.slider__slide:hover .slide__img {
  margin-bottom: -80px;
}

.slider__slide:hover .slide__button {
  display: block;
}

.slide__maker-info {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.slide__maker-avatar {
  margin-right: 19px;
  border-radius: 10px;
}

.slide__maker-names {
  margin-right: 20px;
}

.slide__names-inner {
  display: flex;
}

.slide__maker-val {
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
  margin-bottom: 5px;
}

.slide__maker-name {
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
  opacity: 0.7;
}

.slide__eth-img {}

.slide__price-info {
  display: flex;
  justify-content: space-between;
}

.slide__price-1 {}

.slide__price {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
}

.slide__price-desc {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
}

.slide__price-2 {}

.slide__price-3 {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.slide__price-plus {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #24FF00;
}

.slide__price-minus {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #FF0000;
}

.slide__button {
  margin-top: 20px;
  padding: 15px 30px;
  gap: 10px;
  display: none;
}

.slider__slider-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.slider__slides {
  position: relative;
}

.slider__arrow {
  z-index: 2;
  display: none;
  border-radius: 50%;
  transition: all .3s;
}

.slider__arrow:hover {
  transform: scale(1.05);
  box-shadow: 0 0 5px gray;
}

.slider__arrow-left {
  position: absolute;
  left: 10px;
}

.slider__arrow-right {
  position: absolute;
  right: 10px;
}

.slider__bottom-btn {
  margin-top: 65px;
  align-self: center;
  justify-self: center;
}

.collections__inner {}

.collections__title {
  font-weight: 600;
  font-size: 55px;
  line-height: 68px;
  background: linear-gradient(90deg, #69EACB, #EACCF8, #6654F1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  max-width: 470px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 60px;
}

.collections {
  margin-bottom: 250px;
}

.collections__inner {
  max-width: 1385px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.collections__button-box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 67px;
}

.collectons__btn {}

.collections__list {
  display: grid;
  grid-template: repeat(2, auto) / repeat(4, 1fr);
  gap: 48px 30px;
}

.collections__item {
  background: linear-gradient(155.14deg, rgba(0, 0, 0, 0) -2.13%, rgba(255, 255, 255, 0.15) 136.58%);
  filter: drop-shadow(0px 4px 49px rgba(0, 7, 72, 0.12));
  backdrop-filter: blur(15px);
  border-radius: 20px;
  padding: 20px;
  gap: 20px;
  box-shadow: 0 0 1.5px;
  transition: all .2s;
}

.collections__item:hover {
  transform: rotate(-2deg);
}

.collections__item-img {}

.collections__item-name {
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
  margin-top: 17px;
}

.collections__item-desc {
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
  opacity: 0.7;
  margin-top: 5px;
}

.collections__item-price {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.collections__price-first {}

.collections__price-eth {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
}

.collections__price-desc {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
}

.collections__price-usd {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
}

.collections__price-minus {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #FF0000;
}

.collections__price-plus {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #24FF00;
}

.mixitup-control-active {
  transform: scale(1.05);
  background: #6654F1;
}

.collections__bottom-btn {
  margin-top: 75px;
  align-self: center;
}

.categories {
  margin-bottom: 250px;
}

.categories__inner {
  margin: 0 auto;
  max-width: 1400px;
  display: flex;
  flex-direction: column;
}

.categories__title {
  font-weight: 600;
  font-size: 55px;
  line-height: 68px;
  background: linear-gradient(90deg, #69EACB 0%, #EACCF8 48%, #6654F1 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  max-width: 440px;
  margin: 0 auto;
  margin-bottom: 75px;
}

.categories__slider {
  position: relative;
}

.categories__slider-list {}

.categories__slide-wrapper {
  padding: 15px;
}

.categories__slide {
  background: linear-gradient(155.14deg, rgba(255, 255, 255, 0) -2.13%, rgba(255, 255, 255, 0.15) 136.58%);
  filter: drop-shadow(0px 3.99902px 48.988px rgba(0, 7, 72, 0.12));
  backdrop-filter: blur(14.9963px);
  padding: 19.9951px;
  border-radius: 19.9951px;
  gap: 20px;
  box-shadow: 0 0 1.5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all .3s;
}

.categories__slide:hover {
  transform: scale(1.02);
}

.categories__slide-images {
  display: flex;
  object-fit: cover;
}

.categories__slide-2img {
  display: flex;
  flex-direction: column;
  margin-right: 8px;
}

.categories__slide-first-img {
  margin-bottom: 7px;
}

.categories__slide-second-img {}

.categories__slide-third-img {}

.categories__slide-name {
  font-weight: 600;
  font-size: 21.9946px;
  line-height: 33px;
}

.categories__slide-name2 {
  margin-top: 5px;
}

.categories__slider-left-arrow {
  position: absolute;
  z-index: 2;
  top: 130px;
  left: -40px;
}

.categories__slider-right-arrow {
  position: absolute;
  top: 130px;
  right: -35px;
}

.categories__bottom-btn {
  margin-top: 75px;
  align-self: center;
}

.tutorial {
  background: url("../images/tutorial_bg.png");
  max-width: 1400px;
  margin: 0 auto;
  margin-bottom: 200px;
}

.tutorial__title {
  font-weight: 600;
  font-size: 48px;
  line-height: 59px;
  background: linear-gradient(90deg, #69EACB 0%, #EACCF8 48%, #6654F1 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-transform: capitalize;
  max-width: 640px;
  margin: 0 auto;
  padding-top: 61px;
}

.tutorial__body {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 81px;
  padding-bottom: 110px;
}

.tutorial__body-point {
  margin-right: 67px;
}

.tutorial__body-point:last-child {
  margin-right: 0px;
}

.tutorial__img {
  margin-bottom: 32px;
}

.tutorial__name {
  font-weight: 600;
  font-size: 28px;
  line-height: 42px;
  margin-bottom: 28px;
}

.tutorial__desc {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  max-width: 371px;
}

.articles {
  margin-bottom: 214px;
}

.articles__inner {
  display: flex;
  flex-direction: column;
}

.articles__title {
  font-weight: 600;
  font-size: 48px;
  line-height: 59px;
  background: linear-gradient(90deg, #69EACB 0%, #EACCF8 48%, #6654F1 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  max-width: 200px;
  margin: 0 auto;
  margin-bottom: 60px;
}

.articles__body {}

.articles__list {
  display: flex;
  justify-content: space-between;
  max-width: 1400px;
  margin: 0 auto;
  margin-bottom: 60px;
}

.articles__item {
  background: linear-gradient(155.14deg, rgba(255, 255, 255, 0) -2.13%, rgba(255, 255, 255, 0.15) 136.58%);
  filter: drop-shadow(0px 4px 49px rgba(0, 7, 72, 0.12));
  backdrop-filter: blur(25px);
  border-radius: 20px;
  max-width: 442px;
  gap: 20px;
  box-shadow: 0 0 1.5px;
  transition: all .2s;
}

.articles__item:hover {
  transform: rotate(-1deg);
}

.articles__img {
  margin-bottom: 20px;
}

.articles__desc {
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
  margin-bottom: 25px;
  padding: 0 32px;
}

.articles__date {
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
  opacity: 0.7;
  padding: 0 32px;
  padding-bottom: 20px;
}

.articles__btn {
  align-self: center;
}

.contact {
  padding-top: 121px;
  padding-bottom: 108px;
  background: #0E1135;
}

.contact__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact__title {
  font-weight: 600;
  font-size: 48px;
  line-height: 59px;
  margin-bottom: 50px;
}

.contact__desc {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 50px;
}

.contact__form {
  position: relative;
}

.contact__label {}

.contact__input {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  padding: 22px 453px 22px 72px;
  border-radius: 116.732px;
  background: #D9D9D9;
  backdrop-filter: blur(11.6732px);
}

.contact__btn {
  position: absolute;
  top: 6px;
  right: 7px;
}

.line {
  max-width: 1378px;
  margin: 0 auto;
  margin-bottom: 127px;
}

.footer {
  background: #0E1135;
}

.footer__inner {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.footer__body {
  display: flex;
  justify-content: space-between;
}

.footer__main {
  max-width: 490px;
}

.footer__main-logo {
  display: flex;
  max-width: 170px;
  align-items: center;
  margin-bottom: 26px;
  transition: all .2s;
}

.footer__logo-img {
  margin-right: 10px;
  transition: all .6s;
}

.footer__logo-name {
  font-weight: 600;
  font-size: 31.5464px;
  line-height: 47px;
  letter-spacing: 0.02em;
  text-transform: capitalize
}
.footer__main-logo:hover {
  transform: scale(1.03);
  color: #cdc7f7;
}

.footer__main-logo:hover .footer__logo-img {
  transform: rotate(360deg)
}
.footer__main-desc {
  font-weight: 400;
  font-size: 20px;
  line-height: 41px;
  margin-bottom: 33px;
  text-transform: capitalize;
}

.footer__main-list {
  display: flex;
}

.footer__main-item {
  margin-right: 40px;
  transition: all .2s;
}

.footer__main-item:last-child {
  margin-right: 0px;
}

.footer__main-item {
  transition: all .2s;
}
.footer__main-item:hover {
  transform: scale(1.01);
}

.footer__main-img {}

.footer__marketplace {}

.footer__title {
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
  margin-bottom: 40px;
}

.footer__list {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.footer__list-item {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 20px;
  transition: all .2s;
}
.footer__list-item:hover{
  transform: scale(1.02);
  color: #00bfff;
}
.footer__main-item:hover path{
  fill: #00bfff;
}
.footer__main-item path{
  transition: all .3s;
}

.footer__list-item:last-child {
  margin-bottom: 0;
}

.footer__links {}

.footer-bottom {
  margin-top: 116px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 31px;
}

.copyright {
  margin-right: 8px;
}

.copyright-name {
  font-weight: 400;
  font-size: 16px;
  line-height: 206%;
  text-transform: capitalize;
}